@model Autotransportes_ABC.Models.bitacora

@{
    ViewBag.Title = "Detalles";
}

<h2>Detalles</h2>

<div>
    <h4>Bitacora</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.id_solicitud)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.id_solicitud)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.folio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.folio)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.id_bitacora }) |
    @Html.ActionLink("Regresar a la lista", "Index")
</p>
